
h2{
    background-color: #ceb92bff;
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: ;
}

.btn-aceptar{
    background-color: #ceb92bff;
    color: #ffffff;
    border: none;
    text-align: center;
}